sentence-transformers==4.1.0
chromadb==1.0.12
pdfplumber==0.11.6
nltk==3.9.1
spacy==3.8.7
pytextrank==3.3.0
scikit-learn==1.7.0
numpy==2.3.0
fastapi==0.115.9
uvicorn==0.34.3
Jinja2==3.1.6
python-multipart
httpx
markdown2==2.5.3
huggingface_hub==0.27.0
